docker_images
datasets
application
models
!models/
models/*
!models/dinov2_base/
models/dinov2_base/*
!models/dinov2_base/dinov2_vitl14_pretrain.pth
manifests
installers
environments
*.docx
server/training_package/config
server/training_package/examples
server/training_package/scripts
server/training_package/deploy.env
server/training_package/deploy.company.template.env
server/inference_api/Dockerfile.company-inference
